<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Hopelessly Generic Online Courses</h1>
    <br />
    <h2>For hopelessly generic people</h2>
    <br />
    <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>We keep it bland</h3>
    <p>So you don't have to worry about it overstimulating yourself.  Keep your focus on the important things, like those suspicious Petersons across the street and their rock and roll music.</p>
  </div>

  <div class="col-sm-4">
    <h3>We keep it boring</h3>
    <p>We ensure our online courses will be long, over detailed, and lack interesting visuals.  If you're a visual or auditory learner, get out.  I said get out, now.</p>
  </div>

  <div class="col-sm-4">
    <h3>We keep it real</h3>
    <p>Just kidding.  We keep it the opposite of real.  We keep it fake.  We keep it super, super fake.  I'm talking Dolly Parton fake.</p>
  </div>
</div>